<p>
  Hello, this is my blog
</p>

<% for post in @published %>
  <% div_for post do %>
    <div class="post-main">    
      <h2><%= link_to h(post.title), post %></h2>
      <%= textilize post.description %>
    </div>
    <div class="post-meta">
      <%= "Posted, #{time_ago_in_words post.created_at} ago" %><br />
      <%= pluralize post.comments.length, "comments" %>
    </div>
  <% end -%>
<% end -%>

<%= link_to 'New post', new_post_path %>
